<div class="container bg-white my-10 w-1/3 mx-auto p-4">
  <form [formGroup]="userDetailForm" (ngSubmit)="onSubmit()">


    <div class="mb-3">
      <label for="name">Name</label>
      <input class="border p-1 w-full border-gray-300" id="name" formControlName="name" />
      @if(userDetailForm.get('name')?.invalid && userDetailForm.get('name')?.touched){

      <div class="text-red-400">
        Name is required
      </div>
      }
    </div>

    <div class="mb-3">
      <label for="age">Age</label>
      <input class="border p-1 w-full border-gray-300" id="age" type="number" formControlName="age" />
      @if(userDetailForm.get('age')?.invalid && userDetailForm.get('age')?.touched){

      <div class="text-red-400">
        Age must be a positive number
      </div>
      }
    </div>

    <div class="mb-3">
      <label for="phone">Phone</label>
      <input class="border p-1 w-full border-gray-300" type="text" id="phone" formControlName="phone" />
      @if(userDetailForm.get('phone')?.invalid && userDetailForm.get('phone')?.touched){

      <div class="text-red-400">
        Phone must be a 10-digit number
      </div>
      }
    </div>

    <div class="mb-3">
      <label for="status">Status</label>
      <select class="border p-1 w-full border-gray-300" id="status" formControlName="status">
        @for (status of getStatusOptions(); track $index) {
        <option [value]="status.value">{{ status.key }}</option>

        }
      </select>
    </div>

    <div class="mb-3">
      <label for="designation">Designation</label>
      <textarea class="border w-full border-gray-300" cols="10" rows="2" id="designation"
        formControlName="designation"></textarea>
    </div>

    <div class="flex items-center justify-between">


      <button [disabled]="userDetailForm.invalid"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Submit</button>
      <a class="float-end border rounded-md p-2" [routerLink]="[ '/users' ]">Cancel</a>
    </div>
  </form>
</div>